@import "styles/mixins/media.scss";

.Header {
  height: 56px;
  padding: 0 16px;

  &-Logo {
    margin-right: 26px;
  }

  @include desktop-only {
    padding: 0 32px;

    &-Logo {
      margin-right: 40px;
    }
  }
}
